<%=link_to "Back to list",controller:"patient" ,action:'list',class:"back-link" %>
<div class ="patient Edit">
   <h2> Edit patient</h2>
   <%=form_for(:patients,url: {action:'update',id:@patient.id})do |t|%>
    <table summary="Topic form fields" class="table table-striped table-sm">
    	<tr>
    		<th scope="col"> Patient Name </th>
    		<td scope="row"> <%=t.text_field(:name)%> </td>
    	</tr>
        <tr>
            <th scope="col"> address </th>
            <td scope="row"> <%=t.text_field(:address)%> </td>
        </tr>
        <tr>
            <th scope="col"> mobno</th>
            <td scope="row"> <%=t.text_field(:mobno)%> </td>
        </tr>
        <tr>
            <th scope="col"> city</th>
            <td scope="row"> <%=t.text_field(:city)%> </td>
        </tr>
        <tr>
            <th scope="col"> symptoms </th>
            <td scope="row"> <%=t.text_field(:symptoms)%> </td>
        </tr>
    	<tr>
    		<th scope="col"> age </th>
    		<td scope="row"> <%=t.text_field(:age)%> </td>
    	</tr>
    	
        <tr>
            <th scope="col"> gender </th>
            <td scope="row"> <%=t.text_field(:gender)%> </td>
        </tr>

    </table>
    <div class="form-button">
    	<%=submit_tag("Update Book")%>
    </div>
    <%end %>
</div>

