
<br><br>
<p>
<br><h4>
<center>  
<strong>Doctor Name:</strong> <%= @doctor.doctorname %><br/>
<strong>Doctor Mobno:</strong><%= @doctor.dmobno%><br/>
<strong>Doctor City:</strong><%= @doctor.dcity%><br/>
<strong>Medicine:</strong><%= @doctor.dmedicine%><br/>
<strong>Description:</strong><%= @doctor.ddescription%><br/>
<strong>Doctor Id:</strong><%= @doctor.id%><br/>
<strong>PatientId:</strong><%= @doctor.patient_id%><br/>
<strong>Created date:</strong><%= @doctor.created_at%><br/>
</center>
</h4>s
</p>






